main {
	background-color: #fcf9f6;
	padding-bottom: 10px;
}

main h2 {
	margin-top: 30px;
	margin-bottom: 10px;
}

.banner {
	width: 100%;
	height: 90vh;
	background-image: url("/images/NewYork/nyBanner2.webp");
	background-size: auto;
	background-repeat: no-repeat;
	background-position: bottom;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5%;
	z-index: 2;
}

.banner h1 {
	color: #fff;
	text-shadow: 2px 2px 2px #000;
}

.page-nav {
	background-color: #e8a870;
	border-radius: 8px;
	padding: 20px 10px 20px 20px;
	position: fixed;
	bottom: 60%;
	left: -10px;
	z-index: -0;
	opacity: 0;
	transition: opacity 0.5s;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.page-nav a {
	display: block;
	color: #fff;
	margin-top: 10px;
}

.page-nav a:hover {
	display: block;
	color: #b96317;
	margin-top: 10px;
}

.page-nav.visible {
	opacity: 1;
}

.intro {
	margin: 120px auto -100px;
	max-width: 1200px;
}

/********** History ********/

#history {
	background-color: #f3ece1;
	height: 500px;
	margin: 400px 0;
}

#history .history-container {
	display: grid;
	grid-template-columns: 250px 550px 400px;
	max-width: 1200px;
	margin: -0 auto 0;
	height: 100%;
}

#history .image-container {
	align-self: center;
	background-color: #fff;
	padding: 10px;
	align-self: center;
	margin-right: -40px;
	margin-bottom: -180px;
	z-index: 7;
}

#history .image-container2 {
	align-self: center;
	height: 600px;
	width: 100%;
	width: 600px;
	margin-top: -80px;
}

.image-container img,
.image-container2 img {
	width: 100%;
	height: 100%;
}
.image-container2 img {
	object-fit: cover;
}
.image-container img {
	object-fit: contain;
}

#history .card-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #fff;
	padding: 60px;
	align-self: center;
	margin-left: -100px;
	margin-top: -100px;
}

#history .card-content h2 {
	max-width: 320px;
	line-height: 95%;
	margin: 0 0 20px 0;
}

/********** State if mind **********/

#state-of-mind {
	background-color: #f3ece1;
	height: 500px;
	margin: 400px 0;
}

.state-of-mind-container {
	display: grid;
	grid-template-columns: 400px 1fr 250px;
	max-width: 1200px;
	margin: 0 auto;
	height: 100%;
}

#state-of-mind .card-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #fff;
	padding: 60px;
	align-self: center;
	margin-right: -100px;
	margin-bottom: -100px;
	z-index: 5;
}
#state-of-mind .card-content h2 {
	max-width: 320px;
	line-height: 95%;
	margin: 0 0 20px 0;
}

#state-of-mind .image-container2 {
	height: 600px;
	margin: 0;
	margin-top: -80px;
}

#state-of-mind .image-container {

	background-color: #fff;
	padding: 10px;
	align-self: center;
	margin-top: -170px;
	margin-left: -70px;
	z-index: 7;
}

.intro2 {
	margin: -300px auto -250px;
	max-width: 1200px;
	padding: 5% 0;
}

@media (max-width: 1440px) {
	.page-nav {
		background-color: #fff;
		border-radius: 0px;
		padding: 10px 10px 10px 20px;
		align-items: center;
		justify-content: center;
		position: fixed;
		bottom: 0;
		left: 0;
		display: flex;
		gap: 50px;
		z-index: 20;
		opacity: 0;
		transition: opacity 0.5s;
		border-top: 1px solid #bdb9b9;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
			rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
		width: 100%;
	}
	ul {
		list-style: none;
	}

	.page-nav a {
		display: block;
		color: #000;
		margin-top: 10px;
	}
}

@media (max-width: 1040px) {
	#history {
		background-color: #c9d6cc;
		height: 450px;
		margin-bottom: 200px;
	}

	.city-card p {
		margin-bottom: 20px;
	}

	.history-container {
		display: grid;
		grid-template-columns: 1fr;
		max-width: 1200px;
		margin: 0 auto;
		height: 570px;
	}

	.image-container {
		background-color: #fff;
		padding: 20px;
		align-self: center;
		width: 100%;
		max-width: 750px;
		margin: -110px -30px 0 -0px;
	}

	.image-container img {
		width: 100%;
		height: 100%;
	}

	.card-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: #fff;
		padding: 60px;
		align-self: center;
		max-width: 510px;
		margin-top: -120px;
		margin-left: -30px;
	}

	.card-content h2 {
		max-width: 320px;
		line-height: 95%;
		margin: 0 0 20px 0;
	}

	.intro {
		margin-top: -50px;
	}
}

@media (max-width: 768px) {
	.page-nav {
		display: none;
	}
}

/*********** Fadein animatie ************/

.banner,
.intro {
	animation: fadeIn 1500ms;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
