/***** Variabelen *****/
:root {
	--bg-white: url(https://assets.website-files.com/5837424ae11409586f837994/61195e21f792d7065d2f56ad_noise.png),
		linear-gradient(#fff, #fff);
	--bg-pink: url(https://assets.website-files.com/5837424ae11409586f837994/61195e21f792d7065d2f56ad_noise.png),
		linear-gradient(#fbe8de, #fbe8de);
	--bg-blue: url(https://assets.website-files.com/5837424ae11409586f837994/61195e21f792d7065d2f56ad_noise.png),
		linear-gradient(#e1eaf4, #e1eaf4);
}

main {
	background-color: #fff;
}

.main-container {
	max-width: 1600px;
	margin: 50px auto;
	padding: 0 50px;
}

.banner {
	width: 100%;
	height: 90vh;
	background-image: url("/images/NewYork/banner.webp");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.banner h1 {
	color: #fff;
	text-shadow: 2px 2px 2px #000;
	text-align: center;
}
.banner p {
	color: #fff;
	text-shadow: 2px 2px 2px #000;
	text-align: center;
}

.home-text {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 50px;
	margin-bottom: 50px;
}
.content-home {
	display: flex;
	flex-direction: column;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	padding: 50px;
	border-radius: 10px;
}

.home-gallery-titel {
	text-align: center;
	margin-bottom: 20px;
}

.images {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 20px;
	overflow: hidden;
	margin-bottom: 50px;
	border-radius: 10px;
	padding: 20px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	background: var(--bg-white);
}

.home-gallery1,
.home-gallery2,
.home-gallery3 {
	width: 100%;
	height: auto;
}

img.home-gallery1,
img.home-gallery2,
img.home-gallery3 {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

video {
	background-color: #000;
	width: 100%;
	object-fit: cover;
	object-position: top center;
	height: 100%;
	border-radius: 10px;
}

.iframe-container {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	height: 0;
}
.iframe-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	border: none;
}

section.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	margin-bottom: 50px;
}

section.cards h2 {
	margin: 40px 0 5px;
}

.home-cards-content a {
	display: block;
	width: 200px;
	padding: 15px 30px;
	background-color: #1d1d1da6;
	border: 1px solid #1d1d1d;
	color: #fff;
	margin-top: 20px;
	border-radius: 8px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.home-cards-content a:hover {
	background-color: #1d1d1d;
}

.must-see-new-york,
.over-new-york,
.eten-new-york {
	padding: 20px 20px 50px 20px;
	text-align: center;
	border-radius: 10px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.must-see-new-york {
	background: var(--bg-pink);
}
.over-new-york {
	background: var(--bg-white);
}

.eten-new-york {
	background: var(--bg-blue);
}

.cards img {
	width: 100%;
	align-self: bottom;
}

@media screen and (max-width: 1440px) {
	.main-container {
		margin: 50px auto;
	}
}
@media (max-width: 1024px) {
	.banner {
		width: 100%;
		height: 50vh;
		background-image: url("/images/NewYork/banner.webp");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: bottom;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.home-text {
		display: grid;
		grid-template-columns: 1fr;
		gap: 50px;
		margin-bottom: 50px;
	}

	.images {
		min-height: 220px;
		grid-template-columns: repeat(6, 1fr);
		gap: 20px;
	}

	.home-gallery1 {
		grid-column: 1 / span 2;
	}
	.home-gallery2 {
		grid-column: 3 / span 2;
	}
	.home-gallery3 {
		grid-column: 5 / span 2;
	}
	.home-gallery4 {
		grid-column: 1 / span 3;
	}
	.home-gallery5 {
		grid-column: 4 / span 3;
	}

	img.home-gallery1,
	img.home-gallery2,
	img.home-gallery3 {
		width: 100%;
		height: auto;
		border-radius: 10px;
	}

	section.cards {
		grid-template-columns: 1fr;
	}

	.must-see-new-york,
	.over-new-york,
	.eten-new-york {
		display: flex;
		gap: 20px;
		text-align: left;
	}

	.must-see-new-york {
		flex-direction: row-reverse;
	}

	.must-see-new-york img,
	.over-new-york img,
	.eten-new-york img {
		max-width: 300px;
		object-fit: cover;
	}

	.home-cards-content {
		display: flex;
		flex-direction: column;
	}
	.home-cards-content a {
		margin-left: 0;
	}
}

@media (max-width: 768px) {
	.main-container {
		max-width: 1920px;
		margin: 50px auto;
		padding: 0 25px;
	}

	.images {
		min-height: 0px;
		grid-template-columns: 3fr;
		gap: 20px;
		width: 100%;
	}
	.home-gallery1,
	.home-gallery2,
	.home-gallery3,
	.home-gallery4,
	.home-gallery5 {
		grid-column: 1 / span 1;
	}

	.eten-new-york,
	.must-see-new-york,
	.over-new-york {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		text-align: center;
	}

	.eten-new-york img,
	.must-see-new-york img,
	.over-new-york img {
		max-width: 768px;
	}

	.home-cards-content a {
		width: 80%;
		margin: 0 10%;
	}
}

.banner {
	animation: fadeIn 1500ms;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
