/***** Variabelen *****/

:root {
	--bg-white: url(https://assets.website-files.com/5837424ae11409586f837994/61195e21f792d7065d2f56ad_noise.png), linear-gradient(#fff, #fff);
	--bg-pink: url(https://assets.website-files.com/5837424ae11409586f837994/61195e21f792d7065d2f56ad_noise.png), linear-gradient(#fbe8de, #fbe8de);
	--bg-blue: url(https://assets.website-files.com/5837424ae11409586f837994/61195e21f792d7065d2f56ad_noise.png), linear-gradient(#e1eaf4, #e1eaf4);
}

#lekker-eten-hero {
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-image: url("/images/NewYork/NY-food-hero.webp");
	background-size: auto;
	background-repeat: no-repeat;
	background-position: bottom;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	align-content: center;
}

#lekker-eten-hero::after {
	content: "";
	position: absolute;
	inset: 0;
	background-color: #00000056;
	z-index: 2;
}

.hero {
	position: relative;
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 5%;
	z-index: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.blur {
	z-index: 3;
	border-radius: 20px;
	padding: 35px;
}
.hero p {
	position: relative;
	max-width: 550px;
	border-radius: 8px;
	align-self: center;
	z-index: 4;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
}

.hero h1 {
	max-width: 1050px;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
	z-index: 4;
	align-self: center;
}

.container {
	max-width: 1600px;
	padding: 50px;
	margin: 0 auto;
	display: grid;
	gap: 15px;
	margin-top: -50px;
	grid-auto-columns: 1fr;
	grid-template-areas:
		"one"
		"two"
		"three"
		"four"
		"five";
	margin-bottom: 10px;
}

#di-fara,
#bernardin,
#momofuku,
#Katz,
#peter-luger {
	display: grid;
	grid-auto-columns: 1fr;
	gap: 15px;
	margin-top: 50px;
}

#di-fara {
	grid-area: one;
	grid-template-areas: "one two";
}
#bernardin {
	grid-area: two;
	grid-template-areas: "two one";
}

#momofuku {
	grid-area: three;
	grid-template-areas: "one two";
}

#peter-luger {
	grid-area: four;
	grid-template-areas: "two one";
}
#Katz {
	grid-area: five;
	grid-template-areas: "one two";
}

img {
	object-fit: cover;
	height: 100%;
	width: 100%;
	align-self: stretch;
	grid-area: one;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#di-fara p,
#bernardin p,
#momofuku p,
#Katz p,
#peter-luger p {
	color: #000;
	max-width: 600px;
	margin: 15px 0 34px;
}

.content-lekker-eten {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	grid-area: two;
	padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

#di-fara .content-lekker-eten,
#Katz .content-lekker-eten {
	background-image: var(--bg-white);
}
#bernardin .content-lekker-eten,
#peter-luger .content-lekker-eten {
	background-image: var(--bg-pink);
}
.content-lekker-eten {
	grid-area: two;
	padding: 50px;
	background-image: var(--bg-blue);
}

.content-lekker-eten a {
	color: black;
	background-color: #ffffff00;
	padding: 15px 50px;
	border: 1px solid black;
	border-radius: 25px;
}

@media (max-width: 1240px) {
	.container {
		max-width: 1200px;
		margin: 0 auto;
	}
}

/* Tablet */
@media (max-width: 1024px) {
	#di-fara,
	#bernardin,
	#momofuku,
	#Katz,
	#peter-luger {
		display: grid;
		grid-auto-columns: 1fr;
		gap: 0px;
	}

	#di-fara {
		grid-area: one;
		grid-template-areas:
			"one"
			"two";
	}
	#bernardin {
		grid-area: two;
		grid-template-areas:
			"one"
			"two";
	}

	#momofuku {
		grid-area: three;
		grid-template-areas:
			"one"
			"two";
	}

	#peter-luger {
		grid-area: four;
		grid-template-areas:
			"one"
			"two";
	}
	#Katz {
		grid-area: five;
		grid-template-areas:
			"one"
			"two";
	}
}

@media (max-width: 720px) {
	#lekker-eten-hero {
		min-height: 60vh;
	}

	#lekker-eten-hero::after {
		content: "";
		position: absolute;
		inset: 0;
		background-color: #00000056;
		z-index: 2;
	}

	.hero {
		align-content: center;
		max-width: 1200px;
		height: 100%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr;
		justify-items: center;
		text-align: center;
		margin-bottom: 5%;
		gap: 35px;
	}
	.hero {
		align-content: center;
		max-width: 1200px;
		height: 100%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr;
		justify-items: start;
		text-align: center;
		margin-bottom: 5%;
		gap: 35px;
	}
	.hero h1 {
		font-size: 30px;
		line-height: 105%;
		margin-bottom: -50px;
	}

	.hero p {
		position: relative;
		max-width: 550px;
		border-radius: 8px;
		align-self: center;
		z-index: 4;
		color: #fff;
		text-shadow: 2px 2px 2px #000;
	}

	.container {
		padding: 25px;
	}

	.content-container {
		padding: 25px;
	}
}
