.container{
	max-width: 1300px;
	margin: 0 auto;
}

#lekker-eten-hero {
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url("/images/NewYork/NY-food-hero.webp");
	background-size: auto;
	background-repeat: no-repeat;
	background-position: bottom;
}

#lekker-eten-hero::after {
	content: "";
	position: absolute;
	inset: 0;
	background-color: #00000056;
	z-index: 2;
}

.hero {
	align-content: center;
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	text-align: center;
	margin-bottom: 5%;
	gap: 35px;
}

.blur {
	z-index: 3;
	background-color: #ffffff19;
	backdrop-filter: blur(4.5px);
	-webkit-backdrop-filter: blur(4.5px);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 20px;
	padding: 35px;
}
.hero p {
	position: relative;
	max-width: 550px;
	border-radius: 8px;
	align-self: center;
	z-index: 4;
	color: #fff;
}

.hero h1 {
	max-width: 650px;
	color: #fff;
	text-shadow: 2px 2px 2px #000;
	z-index: 4;
	align-self: center;
}

#di-fara,
#momofuku,
#peter-luger {
	display: grid;
	gap: 10px;
	margin-top: 10px;
	grid-auto-columns: 1fr;
	grid-template-areas: "one two";
}

#bernardin,
#Katz {
	gap: 10px;
	margin-top: 10px;	
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-areas: "two one";
}

#di-fara img,
#bernardin img,
#momofuku img,
#Katz img,
#peter-luger,
img {
	align-self: stretch;
	width: 100%;
	grid-area: one;
}

#di-fara p,
#bernardin p,
#momofuku p,
#Katz p,
#peter-luger p {
	color: #000;
	max-width: 600px;
	margin: 15px 0 34px;
}

.content-lekker-eten {
	align-self: center;
	padding: 50px;
	grid-area: two;
}

#momofuku .content-lekker-eten {
	background-image: url(https://assets.website-files.com/5837424ae11409586f837994/61195e21f792d7065d2f56ad_noise.png),
		linear-gradient(#fbe8de, #fbe8de);
	align-self: stretch;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: baseline;
}
#Katz .content-lekker-eten,
#di-fara .content-lekker-eten {
	background-image: url(https://assets.website-files.com/5837424ae11409586f837994/61195e21f792d7065d2f56ad_noise.png),
		linear-gradient(#e1eaf4, #e1eaf4);
	align-self: stretch;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: baseline;
}
#peter-luger .content-lekker-eten,
#bernardin .content-lekker-eten {
	background-image: url(https://assets.website-files.com/5837424ae11409586f837994/61195e21f792d7065d2f56ad_noise.png),
		linear-gradient(#ffff, #fff);
	align-self: stretch;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: baseline;
}

.content-lekker-eten a {
	color: black;
	background-color: #ffffff00;
	padding: 15px 50px;
	border: 1px solid black;
	border-radius: 25px;
}

@media (max-width: 1240px) {
	.container{
		max-width: 1200px;
		margin: 0 auto;
	}
}

/* Tablet */
@media (max-width: 1024px) {
	#di-fara,
	#Katz {
		gap: 0;
		grid-template-areas: 
		"one"
		"two";
	}
	
	#bernardin {
		gap: 10px;
		margin-top: 10px;	
		display: grid;
		grid-auto-columns: 1fr;
		grid-template-areas: "two one";
	}
}

@media (max-width: 720px) {
	#di-fara,
	#Katz,	
	#bernardin,
	#peter-luger,
	#momofuku {
		padding: 0 10px;
		gap: 0;
		grid-template-areas: 
		"one"
		"two";
	}
}
